<aside id="sidebar">
    <div id="monDiv">
        <button class="toggle-btn" type="button" onclick="changerContenu()">
            <i class="lni lni-grid-alt"></i>
        </button>
    </div>
    <ul class="sidebar-nav">
        <li class="sidebar-item">
            <a href="{% url 'home' %}" class="sidebar-link">
                <i class="lni lni-home"></i>
                <span>Home</span>
            </a>
        </li>
        <!-- Analyse Section -->
        <li class="sidebar-item">
            <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse" data-bs-target="#analyse"
                aria-expanded="false" aria-controls="analyse">
                <i class="lni lni-bar-chart"></i>
                <span>Analyse</span>
            </a>
            <ul id="analyse" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                <li class="sidebar-item">
                    <a href="{% url 'analyseGenerale' %}" class="sidebar-link">Magasin</a>
                </li>
                <li class="sidebar-item">
                    <a href="{% url 'analyseCentre' %}" class="sidebar-link">Centres</a>
                </li>
            </ul>
        </li>

        <!-- Stock Section -->
        <li class="sidebar-item">
            <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse" data-bs-target="#stock"
                aria-expanded="false" aria-controls="stock">
                <i class="lni lni-archive"></i>
                <span>Stock</span>
            </a>
            <ul id="stock" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                <li class="sidebar-item">
                    <a href="{% url 'stock' %}" class="sidebar-link">Matière Première</a>
                </li>
                <li class="sidebar-item">
                    <a href="{% url 'listProduits' %}" class="sidebar-link">Produit</a>
                </li>
            </ul>
        </li>

        <!-- Fournisseurs Section -->
        <li class="sidebar-item">
            <a href="{% url 'listFournisseurs' %}" class="sidebar-link">
                <i class="lni lni-handshake"></i>
                <span>Fournisseur</span>
            </a>
        </li>

        <!-- Clients Section -->
        <li class="sidebar-item">
            <a href="{% url 'listClients' %}" class="sidebar-link">
                <i class="lni lni-customer"></i>
                <span>Client</span>
            </a>
        </li>

        <!-- Employés Section -->
        <li class="sidebar-item">
            <a href="{% url 'listEmployes' %}" class="sidebar-link">
                <i class="lni lni-users"></i>
                <span>Employé</span>
            </a>

        </li>

        <li class="sidebar-item">
            <a href="" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse" data-bs-target="#multi"
                aria-expanded="false" aria-controls="multi" id="getDataButton">
                <i class="lni lni-apartment"></i>
                <span>Centres</span>
            </a>
            <ul id="multi" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">


            </ul>
        </li>

        <!-- Ventes Section -->
        <li class="sidebar-item">
            <a href="{% url 'venteI' %}" class="sidebar-link">
                <i class="lni lni-coin"></i>
                <span>Vente</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="{% url 'Transfert' %}" class="sidebar-link">
                <i class="lni lni-delivery"></i>
                                <span>Transferts</span>
            </a>
        </li>
        <!-- Achats Section -->
        <li class="sidebar-item">
            <a href="{% url 'achat' %}" class="sidebar-link">
                <i class="lni lni-shopping-basket"></i>
                                <span>Achat</span>
            </a>
        </li>

        <!-- Règlement Section -->
        <li class="sidebar-item">
            <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                data-bs-target="#Reglement" aria-expanded="false" aria-controls="Reglement">
                <i class="lni lni-credit-cards"></i>
                                <span>Règlement</span>
            </a>
            <ul id="Reglement" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                <li class="sidebar-item">
                    <a href="{% url 'histpymtachat' %}" class="sidebar-link">Règlement solde fournisseur</a>
                </li>
                <li class="sidebar-item">
                    <a href="{% url 'histpymtvente' %}" class="sidebar-link">Règlement crédit client</a>
                </li>
            </ul>
        </li>

        <!-- Notifications Section -->
        <li class="sidebar-item">
            <a href="{% url 'notification' %}" class="sidebar-link">
                <i class="lni lni-popup"></i>
                <span>Notifications +{{ nb_notification }}</span>
            </a>
        </li>

        <!-- Paramètres Section -->
        <li class="sidebar-item">
            <a href="#" class="sidebar-link">
                <i class="lni lni-cog"></i>
                <span>Paramètres</span>
            </a>
        </li>

        <!-- Logout Section -->
        <li class="sidebar-item">
            <a href="{% url 'logout' %}" class="sidebar-link">
                <i class="lni lni-exit"></i>
                <span>Logout</span>
            </a>
        </li>
    </ul>
    <div class="sidebar-footer">
        <!-- Footer Content -->
    </div>

</aside>
<!-- Assurez-vous d'inclure jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#getDataButton').click(function () {
            $.ajax({
                url: '/includes/side-bar.html/',  // Remplacez par l'URL de votre vue Django
                type: 'GET',
                dataType: 'json',
                success: function (response) {
                    // Vider le contenu précédent
                    $('#multi').empty();

                    // Parcourir les centres et générer les éléments HTML
                    response.centers.forEach(function (centre) {
                        var listItem = `
    <li class="sidebar-item">
                            <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse"
                                data-bs-target="#multi-two-${centre.codeC}" aria-expanded="false" aria-controls="multi-two-${centre.codeC}">
                                ${centre.designation_centre}
                            </a>
                            <ul id="multi-two-${centre.codeC}" class="sidebar-dropdown list-unstyled collapse">
                                <li class="sidebar-item">
                                    <a href="/Centre1/${centre.codeC}/" class="sidebar-link">Analyse Année Courante</a>
                                </li>
                                  <li class="sidebar-item">
                                    <a href="/analyse_centre1/${centre.codeC}/" class="sidebar-link">Analyse Années Passées</a>
                                </li>
                                <li class="sidebar-item">
                                    <a href="/transfertrecucentre1/${centre.codeC}/"  class="sidebar-link">Transfert Reçu</a>
                                </li>
                                <li class="sidebar-item">
                                    <a href="/ventecentre1/${centre.codeC}/" class="sidebar-link">Vente</a>
                                </li>
                            </ul>
                        </li>
          `;
                        $('#multi').append(listItem);
                    });
                },
                error: function (xhr, status, error) {
                    console.error('Erreur lors de la récupération des données:', error);
                }
            });
        });
    });
</script>